@use "../abstracts/colors" as c;
.owl-dots{
    position: absolute;
    width: 100%;
}
.slider_banner .owl-next, .slider_banner .owl-prev{
    background-color: transparent !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);


    i{
        color: rgba(133, 133, 133, 0.445) ;
        font-size: 4rem;
    }
}
.slider_banner{ 
    padding-top: 100px;
    .owl-next{
        right: 0;
    }
    .owl-prev{
        left: 0;
    }
}

.ADVT{
    height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    &_banner{
        position: absolute;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &_link{
        padding: 10px 45px;
        background-color: c.$white;
        position: relative;
        z-index: 8;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            z-index: -1;
            background-color: c.$adv-banner-backColor;
            transition: width .2s linear;
        }
        &:hover::before{
            width: 100%;
        }
        &:hover{
            color: c.$white;
        }
    }
}





@media screen and (max-width: 576px){
    .ADVT_link{
        font-size: 16px;
    }
    
}



