@use "../abstracts/colors" as c;


.shop [class *= "col-"]{
    padding: 0 10px;
  }

.filter-tab{
    margin-bottom: 25px;
    &:not(.lowerCase) &_checkbox{
        text-transform: uppercase;
    }
    &_header{
        font-size: 18px;
        margin-bottom: 20px;
        color: c.$filter-tabHeader;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 40px;
            height: 2px;
            background-color: c.$main-dark-brown;
    
        }
    }
    &_items{
        max-height: 240px;
        overflow-y: auto;
        padding-top: 5px;
    }

    &_checkbox{
        padding: 10px 0 10px 25px;
        font-size: 13px;
        position: relative;
        color: c.$form-headColor;
        display: block;
      
        &::before{
            content: "";
            position: absolute;
            border: 1px solid c.$checkbox-borderColor;
            height: 1.14rem;
            width: 1.14rem;
            left: 0;
            top: 7px;
        }
        &::after{
            content: "";
            position: absolute;
            width: 0.7rem;
            height: 0.3rem;
            border-left: 2px solid c.$main-dark-brown;
            border-bottom: 2px solid c.$main-dark-brown;
            left: 4px;
            top: 12px;
            transform: rotate(310deg) scale(0);
            transition: transform .2s linear;
        }
        &.isChecked::after{
            transform:  rotate(310deg) scale(1);
        }
        &.isChecked::before{
            border-color: c.$main-dark-brown;
        }
    }
}
.filter-result{
    &_head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 15px;
    }
    &_count{
        font-size: 18px;
    }
    &_sort{
        select{
            padding: 5px 10px;
            color: c.$main-dark-brown;
            border: 1px solid c.$main-brown;
            border-radius: 5px;
            &:focus,&:hover{
                outline: none;
            }
        }
    }
    &_res-count{
        display: none;
        text-decoration: underline;
        border: 1px solid c.$main-brown;
        padding: 12px;
        font-size: 16px;
        border-radius: 5px;

    }
    *{
        color: c.$main-text-color;
    }
    
}

.filter-products{
    padding: 20px 0 30px 0;
    border-bottom: 1px solid c.$footerBorderBottom;
    border-top: 1px solid c.$footerBorderBottom;
}

.filter-pagination{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &_items{
        display: flex;
    }
 
    &_link{
        display: block;
        padding: 15px;
        width: 48px;
        height: 48px;
        font-weight: 500;
        text-align: center;
        &.active{
            border-radius: 50%;
            background-color: black;
            color: white;
        }
        &:hover:not(.active){
            border-radius: 50%;
            background-color: c.$main-brown-light;
        }
    }
    &_arrow{
        i{
            color: c.$main-dark-brown;
        }
        &.disabled a{
            opacity: 0.4;
            cursor: not-allowed;
        }
    }
}

.res-overlay{
    display: none;
}



@media screen and (max-width: 992px){
    .filter-result_count{
        display: none;
    }
    .filter-result_res-count{
        display: block;
    }
    .filter-tab_checkbox::after{
        left: 3px;
        top: 11px;
    }
    main{
        position: relative;
    }
    .shop .responsive-filter{
        top: 65px;
        left: -400px;
        position: absolute;
        background-color: #fff;
        z-index: 99;
        transition: left .3s linear;

        .filter{
            margin-top: 15px;
        }
        &.active{
            left: 0;
        }
    }
    .res-overlay{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.205);
        z-index: 80;
        opacity: 0;
        transition: opacity .3s linear, visibility .3s linear;
        visibility: hidden;
        &.active{
            opacity: 1;
            visibility: visible;
        }
    }
    .filter-pagination_link{
        padding: 16px;
    }
}

