$main-brown:#bb9450;
$main-dark-brown: #a87430;
$black: #000;
$dusty-white:#f8f8f8;
$white: #fff;
$border-dusty:#7b7b7b;
$light-black:#333;
$tensionFirstColor:#e49191a2;
$tensionSecondColor:#ff1100;

$adv-banner-backColor:#72b78b;

$models-borderColor: #dddddd88;

$footerBorderBottom : #eee;
