$main-brown:#bb9450;
$main-dark-brown: #a87430;
$black: #000;
$dusty-white:#f8f8f8;
$white: #fff;
$border-dusty:#7b7b7b;
$light-black:#333;
$tensionFirstColor:#e49191a2;
$tensionSecondColor:#ff1100;
$formBorder:#d9d9d9;

$adv-banner-backColor:#72b78b;

$models-borderColor: #dddddd88;

$footerBorderBottom : #eee;

$form-headColor:#545454;

$discountGradientLeft : rgb(207, 4, 4);
$discountGradientRight : rgb(255, 48, 25);
$discountGradientShadow : #a33f3f;
