$main-brown:#bb9450;
$main-dark-brown: #a87430;
$main-brown-light:#dbb06593;
$main-text-color:#686868;
$black: #000;
$dusty-white:#f8f8f8;
$white: #fff;
$border-dusty:#7b7b7b;
$light-black:#333;
$tensionFirstColor:#e49191a2;
$tensionSecondColor:#ff1100;
$formBorder:#d9d9d9;
$promotedItemsHead: #7b7b7b;

$adv-banner-backColor:#72b78b;

$models-borderColor: #dddddd88;

$footerBorderBottom : #eee;

$form-headColor:#545454;

$filter-tabHeader:#3e3e3e;

$checkbox-borderColor:#ccc;

$detail-breadcrumbColor:#c1c1c1;
$detail-modelColor:#999;

$discountGradientLeft : rgb(207, 4, 4);
$discountGradientRight : rgb(255, 48, 25);
$discountGradientShadow : #a33f3f;


$scrollbar-thumbColor:#c2c2c2;
$scrollbar-trackColor:#e0e0e0;
$scrollbar-thumbHoverColor:#949494;

$oldPrice-redLineColor:#e80000;
$oldPrice-color:#cacaca;

$accordion-color:#c19851;
$accordion-hoverColor:#c19851;
$shop-numColor:#898c91;

$checkGreenColor:rgb(76, 187, 108);

