@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    box-shadow: inset $top $left $blur $color;
  } @else {
    box-shadow: $top $left $blur $color;
  }
}

@mixin text-overflow($lineCount) {
  display: -webkit-box;
  -webkit-line-clamp: $lineCount;
  overflow-wrap: break-word;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@mixin imgSetting() {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
