@use "../abstracts/colors" as c;

*{
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    color: c.$black;
    &::selection{
        color: c.$white;
        background-color: c.$main-brown;
    }
}

select {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: c.$scrollbar-trackColor;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: c.$scrollbar-thumbColor;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: c.$scrollbar-thumbHoverColor;
}
